#right-sidebar {
    max-width: 340px;
    width: 20%;
    margin-right: 10px;
}

.rightside-friend {
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rightside-friend:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.rightside-friend > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
