/* TODO Add site wide styles */
body {
    margin: 0;
    background-color: rgb(240, 242, 245);
    color: rgb(28, 30, 33);
}

#root {
    min-height: 100vh;
}

button {
    background-color: white;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
