/* TODO Add site wide styles */
body {
    margin: 0;
    background-color: rgb(240, 242, 245);
    color: rgb(28, 30, 33);
}

#root {
    min-height: 100vh;
    max-width: 100vw;
}

button {
    background-color: white;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.custom-file-upload {
    background-color: #42b72a;
    width: 180px;
    border-radius: 6px;
    padding: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
}

.custom-file-upload:hover {
    background-color: #3ca227;
}

input[type="file"] {
    display: none;
}
