#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " left  mid  right ";
    gap: auto;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 6px 15px;
}

#logo {
    position: relative;
    top: 2px;
    margin-right: 16px;
}

#logo > img {
    background-color: transparent;
}

.navlink {
    margin: 0 2px;
    width: 120px;
    border-radius: 10px;
}

.empty-navlink {
    margin: 0 2px;
    width: 120px;
    border-radius: 10px;
}

.navlink:hover:not(.activeNav) {
    background-color: whitesmoke;
}

.activeNav {
    position: relative;
}

.activeNav::after {
    content: "";
    position: absolute;
    background-color: #3e7cdf;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
}

#nav-buttons {
    width: 680px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    height: 100%;
}

.nav-button {
    /* max-width: 136px; */
}

#home-link {
    background-image: url("../images/house.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#home-link.activeNav {
    background-image: url("../images/house-selected.png");
}

#friend-link {
    background-image: url("../images/people.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#friend-link.activeNav {
    background-image: url("../images/people-selected.png");
}

#contact-link {
    background-image: url("../images/block.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

#contact-link.activeNav {
    background-image: url("../images/block-selected.png");
}

#user-menu-button {
    height: "fit-content";
    width: "fit-content";
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#user-menu-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #3e7cdf;
    cursor: pointer;
}

#user-menu-pic:hover {
    box-shadow: 0 0 3px black;
}

.profileDropdown {
    position: absolute;
    width: "fit-content";
    height: "fit-content";
    padding: 10px;
    right: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}

.profile-dropdown-button {
    width: 16em;
}

#navbar > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-self: start;
}

/* #navbar > div:nth-child(2) {
    width: 100%;
    justify-self: center;
} */

#navbar > div:nth-child(3) {
    justify-self: end;
}

.searchInput > input {
    width: 100%;
}

.searchInput {
    display: flex;
    align-items: center;
    width: 250px;
}

.searchIcon {
    cursor: pointer;
}
